
body {
	font-family: 'Poppins', sans-serif;
}
.navbar-bg-custom {
    background: white !important;
    padding: 23px 16px;
border-bottom: 1px solid #f2f3f4;    
}
.nav-custom a {
	color: #135e7c;
	font-weight: 500;
	font-size: 16px;
}
.navbar-nav li a {
    color: #135e7c !important;
}
button:hover {
	cursor: pointer;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 2rem;
}

.reg-button {
    border: 0.5pt solid #1990ce;
    border-radius: 5px;
    padding: 8px 15px !important;
}
.desk-hide {
	display: none;
}
}

@media (max-width: 991px) {
	.nav-custom {
    margin-top: 25px;
}
.desk-show {
	display: none;
}
}



  .main-header {
    height: 88vh;
    min-height: 300px;
    background: #f8f9fd;
  }

.welcome-title {
	font-weight: bold;
	font-size: 28px;
	color: #135e7c;
	margin-top: 86px;
}
.search-title {
	font-size: 18px;
	font-weight: 300;
	color: #135e7c;
}
.form-search-custom {
    height: 53px;
    border-left: 0;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
}
.search-icon {
	    background: white;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding-left: 13px;
}
.btn-search-custom {
    background: #07b38c;
    color: white;
    width: 101px;
    height: 53px;
    border-radius: 0px 5px 5px 0;
    font-size: 20px;
}

::placeholder {
	color: #8296ad !important;
	font-size: 16px;
	font-weight: 300;
}


.mt-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.m60 {
	margin-top: 35px;
	margin-bottom: 35px;
}
.m60:first-child {
	margin-top: 115px;
}
.t75 {
	margin-top: 75px;
}
@media (max-width: 991px) {
.t75 {
	margin-top: 35px;
}
}
.mt-110 {
	margin-top: 63px;
}
@media (max-width: 991px) {
.mt-110 {
    margin-top: 10px;
    width: 50%;
}
}
.mw-310 {
	max-width: 310px;
}
@media (max-width: 991px) {
.mw-310 {
	max-width: 270px;
}
.logo {
    width: 200px;
}
.navbar-light .navbar-toggler, .navbar-light .navbar-toggler:hover {
    color: rgba(0,0,0,.5);
    border: 0;
    text-align: right;
    padding: 0;
    outline: 0;
}
.navbar-light .navbar-brand {
    padding: 0;
}
}

.service-title {
	    font-weight: 600 !important;
    color: #135e7c;
    font-size: 26px;
}
.gr-title {
	color: #07b38c;
}
.service-body {
	color: #284753;
	font-weight: 400;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
}

.footer-bg {
    background: #f8f9fd;
}
.footer-bg h4 {
	font-weight: 600 !important;
    color: #135e7c;
    font-size: 26px;
    padding-top: 50px;
}
.footer-bg p {
    margin: 30px auto 0;
    padding: 13px 0;
    color: #284753;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.get-deals-btn, .register-btn {
	width: 140px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	border: 0;
	margin-top: 25px;
}
.get-deals-btn {
	background: #07b38c;
}
.register-btn {
	background: #146f9e;
}
.footer-credit {
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
}


html,body {
  height: 100%;
}

.left-pane {
    background: #f8f9fd;
    display: flex;
    align-items: center;
}

  @media (min-width: 992px) {
.left-pane {
    height: calc(100% + 87.31px);
    background: #f8f9fd;
    display: flex;
    align-items: center;
    margin-top: -87.31px;
}
    .right-pane {
      padding-left: 60px;
    }
  }
  .center-content {
    margin: auto;
    padding-top: 12px;
  }
  .body-container {
      height: 100%;
  }

.reg-form .form-control {
  height: 42px;
      border: 1px solid #e1e2e4;
    margin-bottom: 13px;      
}
.navbar-brand {
  z-index: 2;
}
.btn-submit {
  background: #07b38c;
  width: 100%;
  height: 42px;
  border: 1px solid #07b38c;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.reg-title {
  font-weight: bold;
    font-size: 28px;
    color: #135e7c;
    margin-top: 35px;
}
.reg-desc {
  font-weight: 300;
  font-size: 18px;
  color: #135e7c;
  margin-bottom: 44px;
}
::placeholder {
  font-weight: 200;
  font-size: 15px;
  color: #93a6ae;
}

@media (max-width: 991px) {
.body-container {
    max-width: 720px;
    margin: 0 auto;    
}
}
@media (max-width: 767px) {
.body-container {
    max-width: 540px;
    margin: 0 auto;    
}
}




/* Search Chat Page */

.bubble-user-chat {
  text-align: left;
  margin-right: 59px;  
}
.bubble-user-chat-box {
  display: inline-block;
  margin: 0.25em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0.5em;
  line-height: 1.5;
  color: white;
  background-color: #1990ce;
}
.bubble-user-chat-box::before {
  content: '';
  display: block;
  width: 3em;
  height: 2em;
  position: absolute;
  right: -1em;
  bottom: 0;
  border-left: 2em solid #1990ce;
  border-bottom-left-radius: 100%;
  z-index: -1;
}
.bubble-dp-chat {
  text-align: left;
  margin-left: 59px;
}
.bubble-dp-chat-block {
  display: inline-block;
  margin: 0.25em;
  min-height: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  border-radius: 0.5em;
  line-height: 1.5;
  color: white;
  background-color: #07b38c;
  max-width: 380px;
}
.bubble-dp-chat-block::before {
  content: '';
  display: block;
  width: 3em;
  height: 2em;
  position: absolute;
  left: -1em;
  bottom: 0;
  border-right: 2em solid #07b38c;
  border-bottom-right-radius: 100%;
  z-index: -1;
}

time {
  font-size: 11px;
    padding: 0 14px;
    color: #666;
    font-weight: 400;
}

.dp-avatar {
    background-image: url(/../deal-person/images/me.png);
    height: 40px;
    width: 40px;
    background-size: 29px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -31px;
    left: 15px;
}

.user-avatar {
    background-image: url(/../deal-person/images/you.png);
    height: 40px;
    width: 40px;
    background-size: 29px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -31px;
    right: 15px;
}

.user-chat-block, .dp-chat-block {
  margin-bottom: 13px;
}
.user-chat-block {
  text-align: right;
  float: right;
  clear: both;
}
.user-chat-block {
  float: right;
  clear: both;
}
.user-chat-block time {
  text-align: right;
  margin-right: 62px;
}
.dp-chat-block {
  float: left;
  clear: both;
}

.dp-chat-block time {
  text-align: left;
  margin-left: 62px;
}

.user-options {
    margin: 22px 17px 0px 73px;
}
@media (max-width: 767px) {
.user-options {
    margin: 22px 17px 0px 50px;
}
}
.user-options span {
    border: 1px dashed #07b38c;
    font-size: 14px;
    margin: 0px 4px 8px 0;
    padding: 14px 11px;
    border-radius: 5px;
    background: #f1fbf9;
    cursor: pointer;
    display: inline-block;
    clear: both;
}
.user-options span:hover {
      background: #dbf7f1;
}
.m20 {
  margin-top: 40px;
}



/* Coupon Page */

.coupon-widget {
    text-align: center;
    border: 2px dashed #1990ce;
    margin: 26px auto;
    padding: 35px 0 20px;
    border-radius: 10px;
    background: white;
}
.business-name {
    font-weight: 600;
    font-size: 19px;
}
.action-buttons .btn {
    width: 112px;
    background: #07b38c;
    font-size: 14px;
    color: white;
    margin: 2px;
}



.coupon-widget h5 {
    margin-bottom: 25px;
    font-size: 15px;
    color: #404040;
}
.action-buttons {
    margin-bottom: 40px;
    text-align: center;
}
.deal-claim {
      color: #096ba1;
    font-weight: bold;
    font-size: 19px;
}
.qr-code {
  width: 175px;
}
.powered-by {
      margin: 35px 0 15px;
    width: 200px;
}
.deal-id-coupon {
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 11px;
    color: #87a8c1;
    font-weight: 400;
}

@media (max-width: 480px) {
  .action-buttons .btn {
    width: 150px;
    display: block;
    margin: 6px auto;    
}
}

.call-icon {
      padding-right: 8px;
}










  .deal-list-block {
border: 1px solid #c5e0f9;
    padding: 10px;
    border-radius: 5px;
    background: #fafdff;
    min-height: 100%;
}
.deal-name {
    font-size: 13.5px;
    font-weight: 500;
    color: #1471a1;
    min-height: 42px;    
}
.separator {
    margin-bottom: 0;
}
.deal-id {
    font-size: 12px;
/*    border-top: 1px solid #e8e8e8;*/
margin-top: 11px;
    margin-bottom: 11px;
    color: #87a8c1;
    font-weight: 400;
        float: left;
}
.deal-trash {
margin-top: 11px;
    float: right;
}
.m10 {
  margin-top: 20px;
}
/*.deal-list-block:hover * {
    background: #07b38c;
    color: white;
}*/
.deal-list-block:hover * {
    color: #135c82;
}
.deal-list-block:hover {
    border: 1px solid #07b38c;
    cursor: pointer;

/*    background: #07b38c;*/
}
@media (max-width: 991px) {
.m20 .col-lg-3, .m10 .col-lg-3  {
    margin-bottom: 8px;
}
.m10 {
    margin-top: 0px;
}
}

img.deal-trash {
  cursor: pointer;
}

.deals-available {
    display: block;
    margin-bottom: 40px;
    color: #10689d;
    text-align: center;
    margin-top: 40px;
}
.deals-available h4 {
    font-weight: 800;
    margin-bottom: 2px;
    font-size: 23px;
}
.deals-available p {
    font-size: 14px;
}

.deal-detail-header {
    text-align: center;
    display: block;
    background: #07b38c;
}
.deal-detail-header h4 {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
}
.deal-detail-body {
    text-align: center;
    margin-top: 27px;
    font-size: 14px;
    color: #0f7b63;    
}
.deal-detail-body p {
    margin-bottom: 35px;
}
h4.deal-seller {
    font-weight: bold;
    font-size: 18px;
    color: #229b80;    
}
.dismiss {
    padding: 1rem;
    margin: -0.8rem -1rem -1rem auto;
    position: absolute;
    right: 19px;
}
b.deal-date {
    font-weight: 400;
    display: block;
}
.calendar-img {
  margin-bottom: 10px;
}
.modal-footer .deal-id {
    font-size: 12px;
    margin: 0;
}